.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}

.add-task-container{
    margin: 15px 0;
    width: 100px;
    display: flex;
}

.task-title{
    cursor: pointer;
    animation-duration: 2s;
    animation-name: slidein;
}

.task-title:hover{
    animation-duration: 2s;
    animation-name: slideon;
}

@keyframes slideon {
    from {
      
      margin-left: 0;
      width: 300%
    }
  
    to {
      margin-left: 10%;
      width: 300%;
    }
  }

@keyframes slidein {
    from {
      margin-left: 10%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.span{
    flex: 1;
    padding: 0 3px;
}

.add-task-input{
    height: 40px;
    padding: 0 43%;
    border: none;
    flex:2;
    background-color: #444;
    color: #eee;
    font-size:  16px;
}

.button{
    background-color: orange;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    color:black;
    transition: 1s;
    border: none;
}

.button:hover{
    background-color: #222;
    color:white;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px;
    border-color: orange;
    border-style: solid;
}

.remove-task-button{
    background-color: #444;
    border: none;
    font-size: 18px;
    color:orange;
    cursor: pointer;
}

.see-task-details-button{
    background-color: #444;
    border: none;
    font-size: 18px;
    color:orange;
    cursor: pointer;
}

.header{
    color:white;
    font-weight: bold;
}

.task-details-container{
    
    margin:15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #444;
    color: #eee;
    font-size:  16px;
    border-radius: 5px;
}

.Titulo{
    color: orange;
}

.back-button-container{
    width: 100%;
}

.buttons-container{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}